{{ define "Footer" }}
<footer>
     <div class="container">
          <div class="jumbotron">
    <div class="footer text-center">
            <p class="footer-company-motto"> Learning, training and testing GO Language.</p>

            			<p class="footer-links">
            				<a href="/">Home</a>
            				·
            				<a href="#">GitHub</a>
            				·
            				<a href="/create">Create</a>
            				·
            				<a href="#">About</a>
            				·
            				<a href="#">Faq</a>
            				·
            				<a href="#">Contact</a>
            			</p>

            			<p class="footer-company-name">Designed and built with all forms of love in the world  &copy; 2018</p>
    </div>
    </div></div>
</footer>
    </body>
</html>
{{ end }}